* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-weight: 700;
    font-style: normal;
    font-weight: 800;
    background-color: black;
    min-height: 100vh;
    /* min-height: 700px; */
    /* overflow-x: hidden; */
}

/* header section style */
.hero-section {
    max-width: 1440px;
    height: 820px;
    margin: 0 auto;
    background: linear-gradient(180deg, #111 0%, rgba(119, 119, 119, 0.00) 100%);
    /* border: 2px solid red; */
}

.nav-section {
    width: 90%;
    margin: 0 auto;
    margin-top: 40px;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    /* border: 2px solid blue; */
}

#fitness {
    /* border: 1px solid red; */
    color: #E6533C;
    font-family: Inter;
    font-size: 35px;
    font-style: italic;
    font-weight: 800;
    line-height: 120%;
}

#navbar {
    border: 1px solid rgb(38, 36, 1);
    border-radius: 40px;
    display: flex;
    padding: 12px;


}

nav ul {
    display: flex;
    gap: 50px;
}

nav li {
    list-style: none;
}

nav a {
    color: floralwhite;
    text-decoration: none;
}

#Home {
    padding: 8px 15px;
    justify-content: center;
    align-items: center;
    border-radius: 45px;
    background: #E6533C;
    color: floralwhite;
    border: none;
}

/* li:hover {
    border-bottom: 2px solid rgb(244, 239, 238);
     transition: 0.5s ease; 
}*/
.heading {
    /* border: 1px solid violet; */
    width: 90%;
    margin: 0 auto;
    display: flex;
    margin-top: 100px;
    margin-left: 70px;
    padding: 10px;

}

.head-title {
    /* border: 2px solid rgb(129, 205, 63);  */
    color: #FFF;
    font-family: Inter;
    padding-top: 100px;
    font-size: 39px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%;
}

#shape {
    color: #FFF;
    font-size: 80px;
    font-style: italic;
    font-weight: 100;
    line-height: 120%;
    /* align-self: stretch; */
}

#para-title {
    color: rgba(255, 255, 255, 0.50);
    font-family: Inter;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
}

.btn {
    display: flex;
    padding-top: 10px;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.btn-1,
.btn-2 {
    width: 220px;
    background: #E6533C;
    color: #FFF;
    padding: 15px;
    border-radius: 42px;
    font-size: 15px;
    border: none;
}

.btn-2 {
    background-color: #090808;
    border: none;
}

.btn-1:hover {
    cursor: pointer;
}

.btn-2:hover {
    cursor: pointer;
}

.img-container {
    /* border: 2px solid red;  */
    width: 50%;
    margin: 0 auto;
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

/* change your habit section */
/* card design */
.change-your-habits-section {
    /* border: 2px solid rgb(96, 195, 244); */
    max-width: 1440px;
    height: 600px;
    margin: 0 auto;
    margin-top: 50px;
}

.habit-text-container {
    width: 60%;
    margin: 0px auto;
    /* border: 2px solid red; */
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

#habits-head {
    color: #FFF;
    font-family: Inter;
    font-size: 45px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%;
}

#habits-text {
    color: rgba(255, 255, 255, 0.50);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    padding-top: 15px;
}

/* card style here */
.card-container {
    /* border: 2px solid green; */
    width: 95%;
    margin: 0 auto;
    display: grid;
    gap: 10px;
    padding: 10px;
    grid-template-columns: repeat(4, 1fr);
}

.card-img-1,
.card-img-2,
.card-img-3,
.card-img-4 {
    /* border: 2px solid red; */
    justify-items: center;
}

.card-img-1 img {
    border-radius: 500px;
}

.card-img-2 img {
    border-radius: 500px;
}

.card-img-3 img {
    border-radius: 500px;
}

.card-img-4 img {
    border-radius: 500px;
}

#card-head {
    color: #FFF;
    padding-top: 30px;
}

#card-text {
    color: rgba(255, 255, 255, 0.50);
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.3px;
    padding-top: 5px;
}

/* extra-mile-section */
.extra-mile-section {
    /* border: 2px solid peru; */
    max-width: 1440px;
    height: 400px;
    margin: 0 auto;
    display: flex;
    margin-top: 50px;
    gap: 160px;
}

.extra-1 {
    /* border: 1px solid red; */
    width: 50%;
    height: 350px;
    margin: 10px;
}

.extra-heading {
    /* border: 1px solid green; */
    margin: 5px;
    padding-top: 30px;
    padding-left: 50px;
}

#extra-title {
    color: #FFF;
    font-family: Inter;
    font-size: 45px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%;
}

#extra-text {
    color: rgba(255, 255, 255, 0.50);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    margin-top: 15px;
}

#btn {
    border-radius: 42px;
    background: #E6533C;
    color: #FFF;
    font-size: 15px;
    width: 220px;
    padding: 16px 40px;
    justify-content: center;
    border: none;
    margin-top: 30px;
    cursor: pointer;
}

/* image section design */
.extra-img {
    /* border: 1px solid violet; */
    width: 50%;
    height: 350px;
    margin: 10px;
    justify-items: end;
}

.extra-img img {
    width: 400px;
    height: 300px;
    border-radius: 18px;
    margin-top: 35px;
    margin-right: 32px;
}

/* #run {
    border: 1px solid purple;
} */
/* Meet Our Team section */
.Meet-Our-Team-section {
    /* border: 2px solid blue; */
    max-width: 1440px;
    height: 1050px;
    margin: 0 auto;
    margin-top: 50px;
}

.Meet-Our-Team-container {
    /* border: 1px solid yellow; */
    width: 60%;
    height: 150px;
    margin: 0 auto;
    margin-top: 10px;
}

#our-team-heading {
    color: #FFF;
    font-family: Inter;
    font-size: 45px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%;
    text-align: center;
}

#team-text {
    color: rgba(255, 255, 255, 0.50);
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
}

.our-team-img-container {
    /* border: 1px solid red; */
    width: 78%;
    height: 760px;
    margin: 0 auto;
    padding-top: 20px;
    margin-top: 60px;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.10);
}

.team-img {
    /* border: 1px solid #10e35a; */
    max-width: 1440px;
    height: 700px;
    margin-left: 10px;
    position: absolute;
    padding: 5px;
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fill, minmax(350px, 350px));
    column-gap: 20px;
    row-gap: 20px;
}

.team-img img {
    border-radius: 18px;
    width: 350px;
    height: 350px;
    object-fit: cover;
    object-position: center;
}

/* footer-section-container */
.footer-section-container {
    /* border: 2px solid red; */
    max-width: 1440px;
    height: 600px;
    margin: 0 auto;
    margin-top: 50px;
    background: rgba(255, 255, 255, 0.10);
}

.footer-heading {
    /* border: 1px solid palegoldenrod; */
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 100px;
    margin-top: 65px;
}

#footer-title {
    color: #E6533C;
    font-family: Inter;
    font-size: 35px;
    font-style: italic;
    font-weight: 800;
    line-height: 120%;
    padding-top: 20px;
}

/* .foot {
    border: 2px solid purple;
} */

#foot-descrip {
    color: rgba(255, 255, 255, 0.50);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    padding-top: 20px;
}

.foot-2 {
    /* border: 1px solid red; */
    margin: 5px;
    display: flex;
    color: #FFF;
    gap: 50px;
    padding: 20px;
}

.foot-nav-1,
.foot-nav-2,
li {
    list-style: none;
}

.foot-nav-1,
.foot-nav-2,
a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.50);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;

}

.foot-nav-1 li {
    padding: 10px;
}

.foot-nav-2 li {
    padding: 10px;
}

.nav-head-1,
.nav-head-2 {
    color: #FFF;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

#foot-copy-sign {
    text-align: center;
    margin-top: 200px;
    color: rgba(255, 255, 255, 0.50);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
}